@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap');
*
{
  font-family: "Karla", sans-serif !important;
  font-style: normal !important;
}

.home-button
{
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-radius: 40px !important;
  border: 0.2px solid rgba(255, 255, 255, 1) !important;
}

.home-button-text
{
  text-transform: none !important;
  color: #D89925 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.home-banner-title
{
  font-family: "Kumbh Sans", sans-serif !important;
  font-size: 48px !important;
  color: white !important;
  font-weight: 700 !important;
  width: 30% !important;
  text-align: center !important;
}

.home-banner-text
{
  font-size: 16px !important;
  color: white !important;
  width: 23.5% !important;
  text-align: center !important;
}

.home-button-principal
{
  background-color: #0A92DD !important;
  border-radius: 40px !important;
  font-weight: 700 !important;
}

.home-button-principal-text
{
  font-weight: 700 !important;
  color: white !important;
}
